<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<br>
<h1 class="textcenter" style="color: #ffffff">Painel administrativo Miura Clothing</h1>
<br>

<div class="alinhar background-image">

<div class="card-group">

    
    <div class="card">
    <a href="/clientes">    
      <img class="card-img-top" src="imgs/clientes.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Clientes</h4>
        <p class="card-text">Administração de carteira de clientes. Verifique os dados dísponiveis.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </a>  
    </div>
    

    
    <div class="card">
    <a href="/produtos">    
      <img class="card-img-top" src="imgs/produtos.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Produtos</h4>
        <p class="card-text">Administração de produtos conforme descrição, preço e categoria.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </a>  
    </div>
    

    
    <div class="card">
    <a href="/pedidos">
      <img class="card-img-top" src="imgs/pedidos.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Pedidos</h4>
        <p class="card-text">Administração de pedidos efetuados e seus respectivos valores.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </a>
    </div>
    

  </div>
</div>

<%- include ('partials/footer.ejs') %>